
<h1>
<%=h@skill.name%><font size=2>&nbsp;[<%= link_to "Edit", edit_admin_skill_path(@skill) %>]</font></h1>

<div class="post">
<table id="shows" align="center">

<tr><td width="100">Skill Name: </td>
<td><%=h @skill.name %></td>
</tr>

</table>
</div>



