<div style="clear: both; margin-top:50px;">&nbsp;</div>

<div id="footer">
  </br>
  <p>Copyright (c) 2010 Zoogbu.com. All rights reserved.</br>
				<%= link_to "Summary", '/admin'%> |
				<%= link_to "Management", '/admin/management'%> |
				<%= link_to "Reports", '/admin/reports'%> |
				<%= link_to "Log out", '/admin/logout' %>
</div>

