/*MENU*/
#logo a{
	width:150px;
	height:50px;
	margin-top:50px;
	float:left;
	padding: 47px 27px 0px 75px;
	text-decoration:none;
}
#header {
	width:1024px;
	margin-left:auto;
	margin-right:auto;
	height: 150px;
	margin-top:-50px;
	background:url(/images/admin/header.png);
}

#search{
	float:right;
	margin-top:-75px;
	margin-right:50px;
	color: #C90;
}

#menu{
	font-size:14px;
	margin-top:80px;
	float:left;
}
#menu ul{
	list-style-type:none;
}
#menu .first{
	margin-left:-30px;
	width:50px;
	height:40px;
	background:none;
}
#menu li a{
	display:block;
	text-decoration:none;
	text-align:center;
	color:#C90;
	padding: 10px 0px 13px 0px;
	background:url(/images/admin/menu_inactive.png);
}

#menu li{
	float:left;
	width:150px;
	height:40px;
	
}
#menu .current_page_item a{
	background:url(/images/admin/menu_item.png);
}
#menu .current_page_item a:hover{
	background:url(/images/admin/menu_item.png);
}
#menu li a:hover{
	background:url(/images/admin/menu_hovered.png);
}


/*BODY*/

body a{
	color: #900;
}

h2{
	font-size: x-large;

}

#page{
	width: 1024px;
	margin-left:auto;
	margin-right:auto;
}

/*searchsssssssssssss
sssssssssssssssssssss*/

#search_results{
	background-image:url(../images/admin/posts.png);
}
#search_results td{
	padding: 10px;
	background-image:url(../images/admin/table.png);
	border: 1px solid;
	font-size:13px;
}
#search_table{
	width: 950px;
}



/*SIDEBAR*/
#sidebar{
	float: left;
	width: 250px;
	margin-top:-15px;
	margin-bottom:50px;
	margin-left:-40px;
}

#sidebar ul{
	list-style-type:none;

}

#sidebar li a{
	text-transform:none;
	font-size:12px;
	text-decoration:none;
	display:block;
	background:url(../images/admin/sidebar_item.png) repeat;
}
#sidebar li a:hover{
	background:url(../images/admin/sidebar_item_select.png);
}
#sidebar .current_page_item a{
	background:url(../images/admin/sidebar_item_cur.png);
}

#sidebar img{
	width:30px;
	height:30px;
	padding-right:3px;
	vertical-align:middle;
	border:none;
}
#sidebar h3{
	font-size:18px;
	text-transform:uppercase;
	margin:0px;
	padding-left:5px;
	height:25px;
	border-bottom: none;
	color:#FF0;
	background:url(../images/admin/sidebar_header.png);

}


/*CONTENTS*/
.post{
	margin-left: 225px;
	margin-top:10px;
	padding-top:3px;
	padding-left:3px;
	padding-bottom:3px;
		-webkit-border-radius: 5px;
	background:url(../images/admin/posts.png);
}

.post table{
	width:785px;
 	border: none;
	font-size:13px;
}

.post td{
	padding: 10px;
	background-image:url(../images/admin/table.png);
	border: 1px solid;
	-webkit-border-radius: 5px;
	vertical-align:top;
}
.table_head{
	padding: 10px;
	background-image:url(../images/admin/table_header.png);
	border: 1px solid;
	text-align:center;
	font-weight:bold;
}
.table_caption{
	padding: 10px;
	background-image:url(../images/admin/table_header.png);
	border: 1px solid;
	font-size:large;
	font-weight:bold;
	text-align:center;
}

#content{
	float: none;
	display:inline;
	text-align: justify;
}

#content form{
	margin-left: 225px;
	padding:5px;
	background: url(/images/admin/posts.png) repeat-x;
}

#content h1{
	margin-left: 225px;
}
#content h1,h2,h3{
	border-bottom-style:groove;
}

#content table{
	text-align: left;
}
#content table td{
		-webkit-border-radius: 5px;
}
#errorExplanation ul{
	color:#F00;
	list-style-image:url(../images/admin/error-icon.png);
	border-bottom-style:outset;
	border-color:#F00;
}

.fieldWithErrors{
	border-style: solid;
	border-color:#F00;
}



/* FOOTER*/

#footer {
	height:75px;
	margin-bottom:-50px;
	font-size:10px;
	color:#C90;
	background:url(../images/admin/footer.png) center no-repeat;
	position:absolute;
	bottom:0px;
	left:0px;
	width: 100%;
}


#footer p{
	text-align:center;	
}
#footer a{
	color:#C60;
	text-decoration:none;
}

html{
	height:100%;
}

body{
	background:fixed url(/images/admin/bg.png);
	font-family:Arial, Helvetica, sans-serif;
	color: #900;
	min-height:100%;
	position:relative;
}


#page table tr td #form1 table tr td {
	text-align: right;
}

.extform input{
	height:20px;
	font-family:Calibri;
	background-color:#FF9;
	border:none;
	-webkit-border-radius: 3px;
}

.extform input:hover{
	background-color:#FFC;
}

.button input{
	-webkit-border-radius: 5px;
	width:50px;
	background-color:#930;
	border-color:transparent;
	color:#FC0;
}
.button input:hover{
	background-color:#F30;
}