	<div id=banner>
				<h1>ZOOGBU</h1>
				<div id="mainNav">
					<ul>
						<li><a href="/" id="homeLink">Home</a></li>
						<li><a href="/events" id="eventsLink">Events</a></li>
						<li><a href="/gallery" id="galleryLink">Gallery</a></li>
						<li><a href="/zoomap" id="mapLink">Map</a></li>
						<li><a href="/zoogle" id="zoogleLink">Zoogle</a></li>
						<li><a href="/subscribe" id="subscribeLink">Subscribe</a></li>
						<li><a href="/aboutus" id="aboutLink">About Us</a></li>
					</ul>
				</div>
			</div>
